<!-- masthead -->
<div class="row-fluid">
    <div id="page-title">
        <img src="/images/icons/mast/2.png" alt="">&nbsp;
        <h2>The Team</h2>
    </div>
</div>
<!-- masthead end -->

<div class="row-fluid">
    
    <!-- Page Content  -->
    <div class="span12">

        <div class="headline"><h4>The National Steering Committee</h4></div>
        <p>The NSC is the policy-making body of the NCI-SRD. It issues all policies related to the implementation of convergence initiatives. This includes issuance of policy and operational directives for NCI-SRD implementers to adhere to.  It also reviews fulfilment of the commitments of the respective agencies related to NCI-SRD.</p>

        <p>The Secretary of the DA shall act as Lead Convenor while the Secretaries of the DAR, DENR and DILG shall act as Co-Convenors. The Secretaries shall appoint their respective permanent alternate representative with a rank of Undersecretary.</p>

        <p>The Secretary of the DA shall act as Lead Convenor while the Secretaries of the DAR, DENR and DILG shall act as Co-Convenors. The Secretaries shall appoint their respective permanent alternate representative with a rank of Undersecretary.</p>

        <p>The NSC approves the implementation and coordination structure of NCI-SRD, including the appointment of the National Focal Person and the membership of the National Convergence Initiative - Technical Working Groups (NCI-TWG).</p>

        <p>The NCI-TWG headed by the National Focal Person serves as the advisory and recommendatory body to the NSC on matters related to the implementation of NCI-SRD.</p>

        <div class="headline"><h4>National Convergence Initiative – Technical Working Groups (NCI-TWGs) </h4></div>
        <p>TWG on Coastal and Marine Resources Management contributes to the attainment as well as complement the initiatives in the Local Government Code, Fisheries Code, and Climate Change Act.</p>

        <p>TWG on Sustainable Lowland Agriculture contributes to the attainment as well as complement the initiatives in the Local Government Code, Climate Change Act, Biofuels Act, and Agriculture and Fisheries Modernization Act of 1997.</p>

        <p>TWG on Forestry and Upland Development contributes to the attainment as well as complement the initiatives in theRevised Forestry Code of the Philippines, NIPAS Act, Mining Act, Biofuels Act, Local Government Code, Climate Change Act as well as policy issuances that will support the implementation of the National Greening Program (NGP).</p>

        <div class="headline"><h4>National Convergence Initiative – Component Working Groups </h4></div>
        <p>Policy and Advocacy shall address issues and problems of conflicting, overlapping, and unclear policies related to land administration, regulatory frameworks, operational strategies and jurisdictional boundaries. The component is envisioned to address these concerns by recommending and advocating policy and reform and harmonization. The component shall undertake the review and audit of conflicting and overlapping laws, policies, and programs taht are under the ambit of the four lead agencies and other related agencies and offices. The end game is to resolve and harmonize the conflicting and overlapping policies.</p>

        <p>Agro-Enterprise Cluster Development and Agribusiness provides an enabling/facilitating environment for spurring the development of agribusiness and agro-enterprises. These clusters will be the locus of agribusiness initiatives based on the potential of the areas.</p>

        <p>Capacity Development enhances the institutional and manpower competence of the NCI agencies, LGUs, and other stakeholders to implement programs and projects under the NCI; and the capability and skills of program/project beneficiaries and other stakeholders to assume responsible and productive roles in optimizing the benefits they derive from such programs and projects.</p>

        <p>Knowledge Management governs the development and maintenance of an effective database capable of ensuring the availability of information for monitoring the status of implementation of programs and projects under the NCI; evaluation of the effectiveness of the convergence approach based on baseline data and impact assessment; and provision of process documentation information and case studies of bestpractices and viable innovations for replication or up-scaling.</p>

        <p>NCI Regional, Provincial, and Municipal Convergence Initiative Committees concerns (PICs) drawn from operational requisites or bottlenecks encountered in programs and projects implementation.</p>

        <p>NCI Agencies and Other Stakeholders enhances the implementation of programs and projects under the NCI and/or resolve related policy issues.</p>
    </div>
</div>