<!-- masthead -->
<div class="row-fluid">
    <div id="page-title">
        <img src="/images/icons/mast/6.png" alt="">&nbsp;
        <h2>Historical Background</h2>
    </div>
</div>
<!-- masthead end -->

<div class="row-fluid">
    
    <!-- Page Content  -->
    <div class="span12">

        <p>On January 26, 1999, DA Acting Secretary William Dar, DAR Secretary Horacio Moralez Jr., and DENR Secretary Antonio Cerilles and Former President Joseph Ejercito Estrada signed the memorandum to create an Internal-Departmental Steering Committee and Technical Working Group to apply and monitor a common framework for sustainable rural development.</p>
        
        <p>In 2011. The Department of Interior and Local Government (DILG) joined the NCI-SRD to strengthen interventions of the local government in the countryside.</p> 

    </div>
</div>