<!-- masthead -->
<div class="row-fluid">
    <div id="page-title">
        <img src="/images/icons/mast/15.png" alt="">&nbsp;
        <h2>NCI-SRD SUPPORTED PROGRAMS & PROJECTS</h2>
    </div>
</div>
<!-- masthead end -->

<div class="row-fluid">
    
    <!-- Page Content  -->
    <div class="span12">

        <div class="headline"><h4>Balik Probinsya Program (BPP)</h4></div>
        <p>It aims to create new sustainable communities with the beneficiaries from the Metro Manila danger zones.</p>

        <div class="headline"><h4>National Greening Program (NGP)</h4></div>
        <p>In pursuance of Executive Order 23, DENR through the NCI-SRD as the oversight body will implement NGP. NGP is a reforestation program that aspires planting some 1.5 billion trees in around 1.5 million hectares from 2011 to 2016. </p>

        <div class="headline"><h4>Environment and Rural Development (EnRD) Program</h4></div>
        <p>The NCI-SRD in partnership with the Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH seeks to strengthen the capacity of the local government to promote rural development and sustainable use of natural resources</p>

        <div class="headline"><h4>Partnership with the Department of National Defense (DND)</h4></div>
        <p>The NCI-SRD supports DND’s intiative of transforming military reservations into agricultural land for the farmers’ production of quality seedlings and planting of native tree species.</p>

    </div>
</div>