<!-- masthead -->
<div class="row-fluid">
    <div id="page-title">
    	<img src="/images/icons/mast/19.png" alt="">&nbsp;
        <h2>WHAT IS NCI-SRD?</h2>
    </div>
</div>
<!-- masthead end -->

<div class="row-fluid">
    
    <!-- Page Content  -->
    <div class="span12">

        <p>The Philippine Development Plan (PDP) 2011-2016 in Strategy 3.1 of Goal 3 Chapter 4 defines the NCI-SRD or National Convergence Initiative for Sustainable Rural Development as a multisectoral and integrated planning approach adopted by the Department of Agriculture (DA), Department of Agrarian Reform (DAR) and Department of Environment and Natural Resources (DENR) towards more efficient use of resources. To strengthen interventions of the local government in the countryside, the Department of Interior and Local Government (DILG) joined the NCI-SRD.</p>

        <p>Through the NCI-SRD, the four departments undertake joint planning, programming and budgeting as well as monitoring and evaluation in the achievement of the sectoral goals and targets of the Plan for their beneficiaries – farmers, fisherfolks, and upland dwellers.</p>

        <p>Chapter 10 of PDP affirms that the NCI-SRD generates jobs in identified convergence areas for productive management and sustainable utilization of farm, forestlands, and coastal resources.</p>

        <p>The NCI-SRD recognizes the primacy of local government unit as the integrating and converging force at the local level. The LGU-led convergence initiatives adopt the Integrated Ecosystem Management   (IEM) or Ridge-to-Reef approach that implements a framework for the holistic, collaborative, multiple use and sustainable management of resources within a watershed. The NCI-SRD identified 140 watersheds as convergence sites nationwide.</p>

        <div class="headline"><h4>VISION</h4></div>
        <p>A nation where Filipinos in rural communities enjoy food security and increased income within the context of improving the quality of the environment through the Integrated Ecosystem Management approach sustained by the beneficiaries and the government.</p>
        
        <div class="headline"><h4>MISSION</h4></div>
        <p>The NCI-SRD will direct the Philippines in achieving sustainable rural development and inclusive growth through the convergence of efforts in delivering impact on country’s prime agricultural, forest and coastal areas under the collaboration of beneficiaries with the local government so that every Filipino in the countryside will have a better life.</p>


    </div>
</div>